<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if hasItem == False %}
    <h3>This item is not in this restaurant's menu</h3>
    {% else %}

    <h2>Edit Menu Item</h2>

    <form action="{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id = item.id)}}" method="POST">

        <p>Name:</p>
        <input type="text" size="43" name="name" placeholder="{{item.name}}">

        <p>Description:</p>
        <textarea name="description" rows="5" cols="40" placeholder="{{item.description}}"></textarea>

        <p>Price:</p>
        <input type="text" size="7" name="price" placeholder="{{item.price}}">

        <p>Course:</br>

            {% if item.course == 'Appetizer' %}
            <p><input type="radio" name="course" value="Appetizer" checked>Appetizer</p>
            {% else %}
            <p><input type="radio" name="course" value="Appetizer">Appetizer</p>
            {% endif %}

            {% if item.course == 'Entree' %}
            <p><input type="radio" name="course" value="Entree" checked>Entree</p>
            {% else %}
            <p><input type="radio" name="course" value="Entree">Entree</p>
            {% endif %}

            {% if item.course == 'Dessert' %}
            <p><input type="radio" name="course" value="Dessert" checked>Dessert</p>
            {% else %}
            <p><input type="radio" name="course" value="Dessert">Dessert</p>
            {% endif %}

            {% if item.course == 'Beverage' %}
            <p><input type="radio" name="course" value="Beverage" checked>Beverage</p>
            {% else %}
            <p><input type="radio" name="course" value="Beverage">Beverage</p>
            {% endif %}

        </p>
        </br>
        </br>

        <input type="submit" value="Edit Item">

    </form>
    </br>
    {% endif %}
    <a href="{{url_for('showMenu', restaurant_id = restaurant_id)}}">Cancel</a>
</body>
</html>